.signup {
    position: relative;
    width: 300px;
    min-height: 296px;
    margin: 0 auto;
    border: 1px solid var(--paletteGray);
    border-radius: 4px;
    .title {
        line-height: 36px;
        color: var(--paletteBlue);
        font-size: 14px;
        text-align: center;
    }
    .progressBar {
        position: relative;
        height: 6px;
        margin-bottom: 16px;
        border-top: 1px solid var(--paletteGray);
        border-bottom: 1px solid var(--paletteGray);
        div {
            position: absolute;
            left: -1px;
            top: -1px;
            width: 0;
            height: 6px;
            background-color: var(--paletteBlue);
            transition: width .3s ease;
        }
    }
    .stepOne {
        div {
            width: 33.33%;
        }
    }
    .stepTwo {
        div {
            width: 66.66%;
        }
    }
    .stepThree {
        div {
            width: calc(100% + 2px);
        }
    }
}
