.form {
  padding: 0 11px;
  label {
    display: block;
    line-height: 26px;
    color: var(--paletteGray2);
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  .error {
    color: #e03e30;
  }
  .date {
    margin-bottom: 12px;
    border: 1px solid var(--paletteGray);
    border-radius: 3px;
    overflow: hidden;
    input {
      width: 33.33%;
      height: 25px;
      border: 0;
      font-size: 12px;
      color: var(--paletteBlack);
      text-align: center;
      &:-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      &:nth-child(2) {
        border-left: 1px solid var(--paletteGray);
        border-right: 1px solid var(--paletteGray);
      }
      &:focus {
        outline: 0;
      }
    }
  }
  .gender {
    margin-bottom: 12px;
  }
}

.footer {
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  line-height: 20px;
  padding: 7px 11px;
  border-top: 1px solid var(--paletteGray);
  .back {
    color: var(--paletteGray);
    font-size: 14px;
    cursor: pointer;
  }
  .next {
    position: relative;
    padding-right: 13px;
    margin-left: auto;
    border: 0;
    background-color: transparent;
    color: var(--paletteBlue);
    font-size: 14px;
    cursor: pointer;
    i {
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -4px;
      width: 10px;
      height: 8px;
      background: url('../../theme/assets/arrow.svg') no-repeat 0 0;
    }
  }
}